In [3873]:
import pandas as pd

file_pattern = "../../Data/SF_Data/file_387.csv"
df = pd.read_csv(file_pattern)
df.head()

,time,col1_boolean,col2_boolean,col3_boolean,col4_boolean,col5_float,col6_float,col7_float,col8_float,col9_float,...,col25_float,col26_float,col27_float,col28_float,col29_integer,col30_integer,col31_integer,col32_integer,col33_integer,col34_integer
0,0.0,0,0,0,0,0.000000,0.000000,0.0000,0.0000,15.000000,...,36.000000,36.000000,101.0,101.0,0,0,0,0,3,3
1,0.0,0,0,0,0,524.606079,524.606079,0.0000,0.0000,442.634308,...,33.907501,33.907501,100.0,100.0,0,0,0,0,2,2
2,0.0,0,0,0,0,524.606079,524.606079,0.0000,0.0000,442.634308,...,33.907501,33.907501,100.0,100.0,1,1,1,1,2,2
3,0.0,0,0,0,0,560.547180,560.547180,386.5672,386.5672,442.634308,...,33.907501,33.907501,100.0,100.0,2,2,2,2,2,2
4,0.0,0,0,0,0,560.547180,560.547180,386.5672,386.5672,442.634308,...,33.907501,33.907501,100.0,100.0,3,3,3,3,2,2

In [3874]:
X = df[['col5_float', 'col7_float', 'col13_float', 'col15_float', 'col23_float', 'col27_float']]

In [3875]:
def winsorize_variable(data, variable, new_column_name, lower_percentile=0.01, upper_percentile=0.99):
    """
    Realiza la winsorización de una variable en un conjunto de datos y la almacena en una nueva columna.

    Args:
        data (pd.DataFrame): El DataFrame que contiene los datos.
        variable (str): El nombre de la variable que se va a winsorizar.
        new_column_name (str): El nombre para la nueva columna que almacenará los datos winsorizados (si no se proporciona, se usará el nombre de la variable original con "_winsorized").
        lower_percentile (float): Percentil inferior para la winsorización (valor predeterminado es 0.01).
        upper_percentile (float): Percentil superior para la winsorización (valor predeterminado es 0.99).
    """
    if new_column_name is None:
        new_column_name = variable + "_winsorized"

    lower_limit = data[variable].quantile(lower_percentile)
    upper_limit = data[variable].quantile(upper_percentile)

    data[new_column_name] = data[variable].clip(lower_limit, upper_limit)

In [3876]:
winsorize_variable(X, "col7_float", "wzcol7_float")

C:\Users\503384~1\AppData\Local\Temp/ipykernel_11200/3368550650.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[new_column_name] = data[variable].clip(lower_limit, upper_limit)

In [3877]:
X = X.drop('col7_float', axis=1)

## Realizamos las predicciones con el modelo final

In [3878]:
import joblib
model_filename = 'L2_Undersamplin_xgboost_7var_model2.pkl'
loaded_model2 = joblib.load(model_filename)

In [3879]:
y_predictions = loaded_model2.predict(X)

In [3880]:
insert_position = 29

# Add the predictions to the DataFrame
df.insert(insert_position, 'stableCruise_boolean', y_predictions)

In [3881]:
insert_position2 = 30

# Add the predictions to the DataFrame
df.insert(insert_position2, 'stableCruise_boolean1', y_predictions)

In [3882]:
# Save the updated DataFrame back to the CSV file
df.to_csv(file_pattern, index=False)